.homepage{
	background-image: 
	background-repeat: no-repeat;
}

.roomselect{
	background-image: 
	background-repeat: no-repeat;
}

.roompage{
	background-image: 
	background-repeat: no-repeat;
}

.itempage{
	background-color: #ffffff
}